@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* GENERAL */

  @font-face {
    font-family: 'San Francisco';
    font-weight: 400;
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
  }

  @font-face {
    font-family: 'San Francisco';
    font-weight: 700;
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff');
  }

  * {
    font-family: 'San Francisco', sans-serif;
    weight: 590;
    margin: 0;
  }

  /* HEADINGS */

  h1 {
    @apply font-bold text-xl md:text-4xl;
  }

  h2 {
    @apply font-bold text-lg md:text-2xl;
  }

  h3 {
    @apply font-bold text-lg md:text-xl;
  }

  h4 {
    @apply font-bold text-xs md:text-sm;
  }

  /* BUTTONS & PILLS */

  button {
    @apply border transition-all duration-500 ease-in-out;
  }

  button.filter-button {
    @apply bg-white rounded-lg py-1 px-2 text-base hover:bg-gray-100 border-[#E5E5E5];
  }

  button.filter-button.active {
    @apply border-gray-400;
  }

  button.overlay-button {
    @apply w-full p-4 rounded-md border-white text-white bg-transparent hover:bg-white hover:text-green-800 text-lg;
  }

  button.purchase-button {
    @apply rounded-full bg-[#00703A] text-white min-h-8 min-w-8 hover:bg-[#3fa476];
  }

  button[disabled] {
    @apply opacity-30 cursor-not-allowed;
  }

  .pill {
    @apply flex flex-row items-center border py-1 px-2 text-base hover:bg-gray-100 transition-all duration-500;
  }

  /* CARDS */

  .card {
    @apply cursor-pointer flex flex-row border border-[#E5E5E5] rounded-xl hover:bg-gray-100 transition-all duration-500 ease-in-out bg-white;
  }

  .food-card {
    @apply justify-between p-4 min-h-[80px] min-w-[160px];
  }

  .card.food-card.active {
    @apply border-gray-400;
  }

  .food-card-bg {
    @apply top-0 left-0 w-full h-full absolute bg-no-repeat bg-origin-content bg-local pointer-events-none bg-right bg-small;
  }

  .restaurant-card {
    @apply justify-start items-start p-3 min-h-[202px] zoom-on-hover;
  }

  .restaurant-card-bg {
    @apply top-0 left-0 w-full h-full absolute bg-no-repeat bg-origin-content bg-local pointer-events-none bg-medium opacity-10;
    background-position: right -30px top -30px;
  }

  .restaurant-card-bg.active {
    @apply opacity-100;
  }

  /* TRANSITIONS */

  .zoom-on-hover {
    @apply transition ease-in-out hover:scale-100 md:hover:scale-[1.02] lg:hover:scale-[1.02] duration-300 z-[90];
  }
}
