@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'San Francisco';
  font-weight: 400;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}

* {
  font-family: 'San Francisco', sans-serif;
  weight: 590;
  margin: 0;
}

h1 {
  @apply text-h1 font-bold;
}

h2 {
  @apply text-h2 font-bold;
}

h3 {
  @apply text-h3 font-bold;
}

h4 {
  @apply text-h4 font-bold;
}

button {
  @apply text-white font-bold rounded-full cursor-pointer bg-[#00703A] min-h-8 min-w-8;
}

.food-card-bg {
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
  background-attachment: local;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.restaurant-card-bg {
  background-size: 140px 140px;
  background-repeat: no-repeat;
  background-position: right -30px top -30px;
  background-origin: content-box;
  background-attachment: local;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
